#art{
    display: table;
    border-spacing: 1px;
    background-color: rgb(0, 0, 0);
    border: 5px solid black;
}
.row{
    display: table-row;
}
.pixel{
    display: table-cell;
    background-color: white;
    width: 40px;
    height: 40px;
}
.pen{
display: inline-block;
width: 40px;
height: 40px;
border: 2px solid black;

}